In [1]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt


#~~~~~~~~~~~~~~~ Mainstream data ~~~~~~~~~~~~~~

# Load the climate change articles data
art_cc1 = pd.read_csv('data/pageviews-10-pro.csv').copy()
art_cc2 = pd.read_csv('data/pageviews-20-pro.csv').copy()
art_cc3 = pd.read_csv('data/pageviews-30-pro.csv').copy()
art_cc4 = pd.read_csv('data/pageviews-40-pro.csv').copy()
art_cc5 = pd.read_csv('data/pageviews-50-pro.csv').copy()

# Load the control (popular) articles data
art_control1 = pd.read_csv('data/pageviews-10-control.csv').copy()
art_control2 = pd.read_csv('data/pageviews-20-control.csv').copy()
art_control3 = pd.read_csv('data/pageviews-30-control.csv').copy()
art_control4 = pd.read_csv('data/pageviews-40-control.csv').copy()
# art_control5 = pd.read_csv('data/pageviews-50-control.csv').copy()


#~~~~~~~~~~~~~~~ Scientific data ~~~~~~~~~~~~~~

# Load the climate change articles science data
sci_art_cc1 = pd.read_csv('data/Pro_climate/pageviews-group1-biodiv.csv').copy()
sci_art_cc2 = pd.read_csv('data/Pro_climate/pageviews-group1-energy.csv').copy()
sci_art_cc3 = pd.read_csv('data/Pro_climate/pageviews-group1-meteo.csv').copy()
sci_art_cc4 = pd.read_csv('data/Pro_climate/pageviews-group1-pesticides.csv').copy()
sci_art_cc5 = pd.read_csv('data/Pro_climate/pageviews-groupe1-earth.csv').copy()

# Load the control articles science data
sci_art_control1 = pd.read_csv('data/Group_control/pageviews-group2-anatomy.csv').copy()
sci_art_control2 = pd.read_csv('data/Group_control/pageviews-group2-genetics.csv').copy()
sci_art_control3 = pd.read_csv('data/Group_control/pageviews-group2-optic.csv').copy()
sci_art_control4 = pd.read_csv('data/Group_control/pageviews-group2-philo.csv').copy()
sci_art_control5 = pd.read_csv('data/Group_control/pageviews-group2-social.csv').copy()

# Load the control articles science data
sci_art_pop1 = pd.read_csv('data/Group_popular_2017/pageviews-control-2017.csv').copy()
sci_art_pop2 = pd.read_csv('data/Group_popular_2017/pageviews-control-2017-1.csv').copy()
sci_art_pop3 = pd.read_csv('data/Group_popular_2017/pageviews-control-2017-2.csv').copy()
sci_art_pop4 = pd.read_csv('data/Group_popular_2017/pageviews-control-2017-3.csv').copy()
sci_art_pop5 = pd.read_csv('data/Group_popular_2017/pageviews-control-2017-4.csv').copy()

# Merge all datasets together for each corpus
art_cc=art_cc1.merge(art_cc2).merge(art_cc3).merge(art_cc4).merge(art_cc5)
art_pop=art_control1.merge(art_control2).merge(art_control3).merge(art_control4)#.merge(art_control5)
sci_art_cc=sci_art_cc1.merge(sci_art_cc2).merge(sci_art_cc3).merge(sci_art_cc4).merge(sci_art_cc5)
sci_art_control=sci_art_control1.merge(sci_art_control2).merge(sci_art_control3).merge(sci_art_control4).merge(sci_art_control5)
sci_art_pop=sci_art_pop1.merge(sci_art_pop2).merge(sci_art_pop3).merge(sci_art_pop4).merge(sci_art_pop5)
# Display to illustrate the structure
sci_art_control.head()

,Date,Bone,Kidney,Neurology,Quadriceps femoris muscle,Cranial nerve nucleus,Fetus,Efferent limb,Mononeuropathy multiplex,Kneecap,...,Dendrite,Hydrolysis,Murder,Autocracy,Cognition,ATP synthase,Kindness,Quantitative research,Stigmatize,House Work
0,2017-01-01,1533,2582,1128,793,96,694,1,0,10,...,232,705,1804,756,1160,211,265,436,4,17
1,2017-01-02,2058,3015,1599,1156,138,853,2,1,19,...,336,1071,2070,1018,1700,338,318,824,1,37
2,2017-01-03,2394,3298,2000,1414,145,912,0,1,13,...,395,1295,2283,1090,1772,423,492,989,0,25
3,2017-01-04,2828,3685,2035,1624,222,941,3,1,12,...,453,1420,2767,1005,1850,502,420,1160,6,27
4,2017-01-05,2845,3595,2021,1579,175,952,1,0,15,...,482,1442,2662,1059,2003,481,426,1156,2,24

In [2]:
art_pop.index=art_pop.Date
art_pop.index=pd.to_datetime(art_pop.index)
art_pop=art_pop.drop(columns="Date")

art_pop=art_pop.groupby(pd.Grouper(freq='MS')).sum()

art_pop

,Keanu Reeves,Freddie Mercury,List of highest-grossing films,Ted Bundy,Chernobyl disaster,Joker,List of Marvel Cinematic Universe films,Avengers: Endgame,Billie Eilish,Deaths in 2019,...,India,Michael Jordan,The Beatles,Venom,Barack Obama,New York City,Jason Momoa,Facebook,Millie Bobby Brown,Once Upon a Time in Hollywood
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,684194,462645,716662,727098,288451,6649,817572,643,96218,0,...,1003610,572133,413801,16498,919624,553957,798788,1358403,945691,46
2018-02-01,708393,347784,692353,546928,272240,5806,1313523,542,72000,1,...,874309,812053,381631,20616,840704,473983,604739,953859,592593,21
2018-03-01,581780,497950,1376046,403032,331912,6378,2011814,1072,103930,0,...,967881,685320,457535,17332,704845,533678,626376,1150844,303550,105517
2018-04-01,557361,385714,1665722,376607,353361,5210,2947190,5087,122300,0,...,886126,625658,370273,28706,698878,534083,481257,1117173,315895,95950
2018-05-01,561971,1207507,3127269,341641,300443,4694,3604438,19526,172702,0,...,940868,1010579,370202,24160,660080,541006,436300,974303,258842,55197
2018-06-01,473204,675251,1536853,312917,228340,3991,1258001,13389,238161,0,...,973401,970658,484921,18631,547328,500793,445764,842667,315085,192391
2018-07-01,477436,1054310,961932,501493,289302,6239,1197146,20223,323720,0,...,1070096,549922,388571,22953,628636,520943,820272,1046789,316582,257139
2018-08-01,717705,748149,802151,440329,283945,8454,1362416,12310,395390,0,...,1132246,386331,404345,26098,734289,534881,702989,948854,300001,330879
2018-09-01,572027,983689,569677,387138,258257,11090,976265,8186,278604,0,...,954019,404675,405220,27718,722738,542634,525236,859955,388355,245101
2018-10-01,511795,2895415,451224,570457,538176,5955,839162,8522,321269,0,...,932482,461066,379891,75839,685226,575918,490150,744187,301617,221133
2018-11-01,429309,9939062,457550,471674,274617,4863,746321,19267,789285,30,...,916647,543505,415102,28640,922899,571159,854132,697026,323987,230058
2018-12-01,604181,2958902,598148,629123,249546,5347,1314635,1450382,539076,8685,...,877346,568399,412512,33827,972407,602640,5325189,695076,213292,233953
2019-01-01,972901,3745613,695014,7321822,287579,6019,1253650,1119567,507225,3110546,...,972563,583506,430302,25437,797966,594665,2297599,595256,324004,359210
2019-02-01,652843,6477501,491180,4689434,324161,4683,817575,846159,794778,2966556,...,968824,829951,437659,21117,838119,494407,1320799,605503,182146,250759
2019-03-01,809502,4269941,599879,896139,458381,5296,2207316,2134253,1755165,3396927,...,967240,850632,414354,19749,737940,538514,1014587,733635,255512,1007463
2019-04-01,722314,1831336,1992612,1084876,929508,19931,4918550,13556129,3545973,3081033,...,918557,538373,359947,19943,674075,502279,1260738,710727,188442,289181
2019-05-01,2921251,1250889,9782146,9363902,7943152,5941,4052611,13474409,2449789,3275165,...,920709,541732,397438,20776,662733,521364,995816,814539,530430,992605
2019-06-01,4664422,1221417,3592893,1511824,9306757,5444,1320248,4420225,2401924,3083579,...,916086,661076,498246,21474,589103,493757,641088,758356,563670,508615
2019-07-01,1635708,2651108,3842627,920506,2401164,6227,2190174,3821995,1987988,3681358,...,945709,510755,510342,19273,797600,521959,764244,803623,2808340,2643092
2019-08-01,968400,1603226,1333182,1244636,1292253,26569,1599409,1981743,1358646,3267921,...,1156181,367294,434899,19131,782120,539703,742424,891941,814779,3657371
2019-09-01,970744,1465332,730593,702747,911254,53733,995977,1004750,1514766,3196546,...,951467,392154,472949,17335,656762,541177,588695,712493,433007,1258140
2019-10-01,724384,1050968,732965,656595,759476,157878,779917,720499,1131132,3278750,...,992915,428480,455632,19217,749636,567551,785842,747710,309741,547793
2019-11-01,1371208,968445,825034,530529,598250,44571,964588,677698,1429638,3053271,...,925140,449817,410176,15907,663350,569328,675181,975049,304416,832287
2019-12-01,605333,1019310,819056,643311,662433,27160,973939,675713,2039130,3406461,...,1059326,479585,392832,14935,835706,613562,469118,1095710,263754,1596231
2020-01-01,602823,699756,759500,730058,760579,35535,860779,622821,3211398,338491,...,985805,1192831,381774,17158,864516,587508,683429,673458,315971,1884069
2020-02-01,723693,703766,483778,876278,523505,26113,696404,433074,2556643,122488,...,889065,1330157,358066,14819,1146146,555654,586275,620453,254798,1530142

In [15]:
test=art_pop.loc['2019-05-01'].copy()
len(test)

40